<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<h1>Hi, Admin!</h1>

<br>
Your Login:
<span th:utext="${username}"></span>
<br>
Your Role (Roles):
<span th:text="${roleSet}"></span>
<br><br>

<a href="/admin">Users</a>

<br/>
<br/>
<div>
    <form sec:authorize="isAuthenticated()" th:method="POST" th:action="@{/logout}">
        <a th:href="@{/logout}"></a>
        <button type="submit" >Logout</button>
    </form>
</div>
</body>
</html>