<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<table border="1">
    <tr>
<!--        <th>id</th>-->
        <th>name</th>
        <th>lastname</th>
        <th>age</th>
        <th>username</th>
        <th>roles</th>
        <th>edit</th>
        <th>delete</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:type="hidden" th:utext="${user.getId()}" hidden="true">id</td>
        <td th:utext="${user.getName()}">name</td>
        <td th:utext="${user.getLastName()}">lastname</td>
        <td th:utext="${user.getAge()}">age</td>
        <td th:utext="${user.username}">username</td>
        <td th:utext="${user.getRoles()}">roles</td>
        <td><a th:href="@{/admin/{id}/edit(id=${user.getId()})}">Edit</a></td>
        <td><a th:href="@{/admin/{id}/delete(id=${user.getId()})}">Delete</a></td>
    </tr>
</table>
<p><a href="/admin/new">Add</a></p>
<div>
    <form sec:authorize="isAuthenticated()" th:method="POST" th:action="@{/logout}">
        <a th:href="@{/logout}"></a>
        <button type="submit" >Logout</button>
    </form>
</div>
</body>
</html>