<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>

<form th:method="post" th:action="@{/users/{id}/edit(id=${user.getId()})}" th:object="${user}">

    <label for="name">Enter name:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="lastName">Enter lastName:</label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br/>
    <label for="age">Enter age:</label>
    <input type="number" th:field="*{age}" id="age"/>
    <br/>
    <label for="username">Enter username:</label>
    <input type="text" th:field="*{username}" id="username"/>
    <br/>
    <label for="password">Enter password:</label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <label for="allRoles">Enter roles:</label>
    <select id="allRoles" name="allRoles" multiple="multiple">
        <option th:each="role : ${allRoles}"
                th:value="${role.role}"
                th:text="${role.role}">
        </option>
    </select>
<!--    <input type="text" th:field="*{roles}" id="role"/>-->
    <br/>
    <input type="submit" value = "Save"/>

</form>

</body>
</html>